@use '../theme';
.report-container {
  margin: 20px 20px 15px 20px;
}
.report-text {
  color: theme.$gray700;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
  margin-bottom: 12px;
}
.gray-bar {
  width: calc(100% + 40px);
  height: 8px;
  position: relative;
  left: -20px;
  background-color: theme.$gray100;
  margin: 20px 0 24px 0;
}
.reason-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.report-explain {
  color: theme.$gray500;
  height: 105px;
  background-color: theme.$gray100;
  padding-top: 16px;
  padding-left: 20px;
}
.report-subject {
  position: sticky;
  bottom: 0;
  background-color: white;
  height: 110px;
  width: 100%;
  padding: 12px 20px;
}
.text-input {
  span {
    float: right;
  }
}

button {
  display: flex;
  width: 100%;
  height: 62px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: theme.$main500;
}
button:disabled,
button[disabled] {
  background: theme.$main200;
}
.other-reason {
  width: 100%;
  height: 140px;
  padding: 12px;
  border-radius: 8px;
  background: theme.$gray100;
  border: none;
  &:focus {
    outline: none;
  }
}
