$main100: #E9FBEB;
$main200: #CFF7D3;
$main300: #9beea3;
$main400: #66e573;
$main500: #32dc43;
$main600: #20bc2f;
$main700: #189024;
$main800: #116419;
$main900: #0a390e;

// Path: src/styles/colors.scss
$gray100: #f1f3f4;
$gray200: #d4dade;
$gray300: #b7c1c8;
$gray400: #9aa9b2;
$gray500: #7d909c;
$gray600: #637782;
$gray700: #4b5c65;
$gray800: #374248;
$gray900: #161a1d;
