.detail-container {
  flex: 1 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 20px;
}
.imgs-box {
  width: 100%;
  height: 240px;
  background-color: gray;
}
.name-box {
  height: 21px;
  margin: 17px 0 4px 2px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* gray500 */
  color: #7d909c;
}
.title-box {
  display: flex;
  justify-content: space-between;
  height: 30px;
  left: 20px;
  width: 100%;
  /* identical to box height, or 30px */
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* gray900 */
  color: #161a1d;
  overflow: hidden;
}
.add-box {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  gap: 12px;
  .gray {
    /* gray700 */
    color: #4d5c65;
  }
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}
.menu-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  width: auto;
  height: 33px;
  border: 1px solid #d4dade;
  border-radius: 50px;
}
