@import "fontStyles";

.title-l-bold {
  font-size: $title-l;
  font-weight: $bold;
}
.title-m-bold {
  font-size: $title-m;
  font-weight: $bold;
}
.title-s-bold {
  font-size: $title-s;
  font-weight: $bold;
}
.text-l-bold {
  font-size: $text-l;
  font-weight: $bold;
}
.text-m-bold {
  font-size: $text-m;
  font-weight: $bold;
}
.text-s-bold {
  font-size: $text-s;
  font-weight: $bold;
}
.title-l-medium {
  font-size: $title-l;
  font-weight: $medium;
}
.title-m-medium {
  font-size: $title-m;
  font-weight: $medium;
}
.title-s-medium {
  font-size: $title-s;
  font-weight: $medium;
}
.text-l-medium {
  font-size: $text-l;
  font-weight: $medium;
}
.text-m-medium {
  font-size: $text-m;
  font-weight: $medium;
}
.text-s-medium {
  font-size: $text-s;
  font-weight: $medium;
}

