@use "fontStyles";


.title-l-bold {
  font-size: fontStyles.$title-l;
  font-weight: fontStyles.$bold;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.title-m-bold {
  font-size: fontStyles.$title-m;
  font-weight: fontStyles.$bold;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.title-s-bold {
  font-size: fontStyles.$title-s;
  font-weight: fontStyles.$bold;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.text-l-bold {
  font-size: fontStyles.$text-l;
  font-weight: fontStyles.$bold;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.text-m-bold {
  font-size: fontStyles.$text-m;
  font-weight: fontStyles.$bold;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.text-s-bold {
  font-size: fontStyles.$text-s;
  font-weight: fontStyles.$bold;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.title-l-medium {
  font-size: fontStyles.$title-l;
  font-weight: fontStyles.$medium;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.title-m-medium {
  font-size: fontStyles.$title-m;
  font-weight: fontStyles.$medium;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.title-s-medium {
  font-size: fontStyles.$title-s;
  font-weight: fontStyles.$medium;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.text-l-medium {
  font-size: fontStyles.$text-l;
  font-weight: fontStyles.$medium;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.text-m-medium {
  font-size: fontStyles.$text-m;
  font-weight: fontStyles.$medium;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.text-s-medium {
  font-size: fontStyles.$text-s;
  font-weight: fontStyles.$medium;
  letter-spacing: -0.02em;
  line-height: 150%;
}

